@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cv {
  @include container;
  @include onMobile {
    padding: 24px 32px;
  }

  padding: 45px 64px 38px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  &_columns {
    @include onMobile {
      flex-direction: column;
    }

    display: flex;
    gap: 32px;

    &--right {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 48px;
    }
  }
}
